@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --brand-yellow: #F0C828;
  --brand-red: #D7320F;
  --brand-black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-yellow: var(--brand-yellow);
  --color-brand-red: var(--brand-red);
  --color-brand-black: var(--brand-black);
  --font-display: var(--font-bebas);
  --font-body: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
